<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applicationlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryBook"
        tools:targetApi="34">
        <activity
            android:name=".view.activity.AuthActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5314158023916434~5470804203" />

        <receiver
            android:name=".broadcast.Notification"
            android:enabled="true" />

        <activity
            android:name=".view.activity.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.diarybook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
            <meta-data
                android:name="com.google.android.gms.wallet.api.enabled"
                android:value="true" />
        </provider>
    </application>

</manifest>